@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1750px;
    padding: 0 80px;
    margin: auto;
}

/* NAV BAR STYLING*/

.navbar{
    position: fixed;
    padding: 35px 0;
    width: 100%;
    z-index: 999;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky{
    background: #363535;
    padding: 25px 0;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
    color: white;
}


.navbar .logo a span{
    color: orangered;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 40px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: orangered;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}


/* FRONT PAGE STYLING*/

.front-page{
    display: flex;
    background: url('../img/darkbg.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

#particles-js{
    position: absolute;
    z-index: 1;
}

.front-page .max-width{
    margin: auto 0 auto 40px;
    position: relative;
    z-index: 999;
}

.front-page .front-page-content .text-1{
    font-size: 27px;
}

.front-page .front-page-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.front-page .front-page-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.front-page .front-page-content .text-3 span{
    color: orangered;
    font-weight: 500;
}

.front-page .front-page-content a{
    display: inline-block;
    background: orangered;
    color: white;
    font-size: 25;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid orangered;
    transition: all 0.3s ease;
}

.front-page .front-page-content a:hover{
    color: white;
    background: none;
}


/* about section styling */

section{
    padding: 100px 0;
}

.about{
    font-family: 'Poppins', sans-serif;
    background-color: #242424;
}

.about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background-color: white;
    transform: translateX(-50%);
}

.about .title::after{
    content: "who i am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: orangered;
    padding: 5px;
    background: #242424;
    transform: translateX(-50%)

}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
    color: white;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    color: white;
}
.about .about-content .right .text span{
    color: orangered;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: orangered;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid orangered;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: orangered;
    background: none;
}



/* skills section styling */

.skills{
    font-family: 'Poppins', sans-serif;
}

.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.skills .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.skills .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background-color: #111;
    transform: translateX(-50%);
}

.skills .title::after{
    content: "skills i know";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: orangered;
    padding: 5px;
    background: white;
    transform: translateX(-50%)

}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: orangered;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid orangered;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: orangered;
    background: none;
}

/*
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: orangered;
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 60%;
}
.skills-content .right .js::before{
    width: 80%;
}
.skills-content .right .php::before{
    width: 50%;
}
.skills-content .right .mysql::before{
    width: 70%;
}
*/

.site-main .brand-area{
    padding: 1rem 20rem;
    margin-bottom: 4rem;
}

.first-row .col-lg-4{
    display: flex;
    justify-content: center;
}

.first-row .col-lg-4 > .single-brand{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 0rem;
    margin: .9rem 0;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: transform .4s ease;
}

.first-row .col-lg-4 > .single-brand > img{
    width: 50%;
}

.first-row .col-lg-4 > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.first-row .col-lg-4 > .single-brand:hover > img{
    filter: brightness(0.15);
}

/* projects section styling */

section{
    padding: 100px 0;
}

.projects{
    font-family: 'Poppins', sans-serif;
    background-color: #242424;
}

.projects-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.projects .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.projects .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background-color: white;
    transform: translateX(-50%);
}

.projects .title::after{
    content: "the best ones";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: orangered;
    padding: 5px;
    background: #242424;
    transform: translateX(-50%)

}



/* responsive media query start */
@media (max-width: 1300px) {
    .front-page .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .front-page .front-page-content .text-2{
        font-size: 70px;
    }
    .front-page .front-page-content .text-3{
        font-size: 35px;
    }
    .front-page .front-page-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }

    .skills .skills-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .front-page .front-page-content .text-2{
        font-size: 60px;
    }
    .front-page .front-page-content .text-3{
        font-size: 32px;
    }
    .front-page .front-page-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .front-page .front-page-content .text-2{
        font-size: 50px;
    }
    .front-page .front-page-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}